@font-face {
  font-family: "GoboldRegular";
  src: local("GoboldRegular"),
    url("./fonts/Gobold_Regular.otf") format("truetype");
  font-weight: normal;
}
  
@font-face {
  font-family: "ProductSans";
  src: local("ProductSans"),
    url("./fonts/Product_Sans.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --bs-light-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
}

.navbar .navbar-nav .nav-link {
  color: var(--bs-body-color);
  font-size: 1.1em;
  position: relative;
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  bottom: 5px;
  margin: auto;
  background-color: var(--bs-body-color);
  width: 0%;
  height: 2px;
  transition: all 0.3s;
}

.navbar .navbar-nav .nav-link.active::after {
  width: 70%;
}

/* Check Box Styling */
.form-check-input:checked {
  background-color: #17141f;
  border-color: #17141f;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(23, 20, 31, 25%);
}
/*****/
